<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>设置</title>
		<link rel="stylesheet" href="https://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
		<link rel="stylesheet" href="./src/css/style.css">
	</head>

	<body>
		<div class="page-group">
			<div class="page page-current">
				<header class="bar bar-nav">
					<a href="user.html" class="button button-link button-nav back pull-left">
						<span class="icon icon-left"></span> 返回
					</a>
					<h1 class="title">设置</h1>
				</header>
				<div class="content">

					<header class="bar bar-nav">
						<h1 class='title'>表单</h1>
					</header>
					<div class="content">
						<div class="list-block">
							<ul>
								<!-- Text inputs -->
								<li>
									<div class="item-content">
										<div class="item-media"><i class="icon icon-form-name"></i></div>
										<div class="item-inner">
											<div class="item-title label">姓名</div>
											<div class="item-input">
												<input type="text" placeholder="Your name">
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-media"><i class="icon icon-form-email"></i></div>
										<div class="item-inner">
											<div class="item-title label">邮箱</div>
											<div class="item-input">
												<input type="email" placeholder="E-mail">
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-media"><i class="icon icon-form-password"></i></div>
										<div class="item-inner">
											<div class="item-title label">密码</div>
											<div class="item-input">
												<input type="password" placeholder="Password" class="">
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="item-content">
										<div class="item-media"><i class="icon icon-form-gender"></i></div>
										<div class="item-inner">
											<div class="item-title label">性别</div>
											<div class="item-input">
												<select>
													<option>Male</option>
													<option>Female</option>
												</select>
											</div>
										</div>
									</div>
								</li>
								<!-- Date -->
								<li>
									<div class="item-content">
										<div class="item-media"><i class="icon icon-form-calendar"></i></div>
										<div class="item-inner">
											<div class="item-title label">生日</div>
											<div class="item-input">
												<input type="date" placeholder="Birth day" value="2014-04-30">
											</div>
										</div>
									</div>
								</li>
								<!-- Switch (Checkbox) -->
								<li>
									<div class="item-content">
										<div class="item-media"><i class="icon icon-form-toggle"></i></div>
										<div class="item-inner">
											<div class="item-title label">开关</div>
											<div class="item-input">
												<label class="label-switch">
                <input type="checkbox">
                <div class="checkbox"></div>
              </label>
											</div>
										</div>
									</div>
								</li>
								<li class="align-top">
									<div class="item-content">
										<div class="item-media"><i class="icon icon-form-comment"></i></div>
										<div class="item-inner">
											<div class="item-title label">文本域</div>
											<div class="item-input">
												<textarea></textarea>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="content-block">
							<div class="row">
								<div class="col-50">
									<a href="#" class="button button-big button-fill button-danger">取消</a>
								</div>
								<div class="col-50">
									<a href="#" class="button button-big button-fill button-success">提交</a>
								</div>
							</div>
						</div>
					</div>

					<div class="list-block">
						<ul>
							<li>
								<a href="#" class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">个人信息</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">我的信用</div>
										<div class="item-after"><span class="rank">信用一般</span></div>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="list-block">
						<ul>
							<li class="item-content item-link">
								<div class="item-inner">
									<div class="item-title">开启消息推送</div>
								</div>
							</li>
							<li class="item-content item-link">
								<div class="item-inner">
									<div class="item-title">清除缓存</div>
									<div class="item-after">2.4M</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="list-block">
						<ul>
							<li>
								<a href="#" class="item-content item-link">
									<div class="item-inner">
										<div class="item-title">关于我们</div>
										<div class="item-after">v1.1</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<a href="" class="loginout">退出登陆</a>
				</div>
			</div>
		</div>
		</div>
	</body>
	<script type='text/javascript' src='https://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='https://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>

</html>